* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#CBF0F2, #D2FCE2);
    position: relative;
    flex-direction: column;
    gap:2rem;
}
.chip-create{
    display: flex;
    background-color: white;
    width :600px;
    height: 100px;
    flex-direction: row;
    gap:1rem;
    padding: 40px;
    border-radius: 7px;
    justify-content: center;
    justify-items: center;
}

input[type=text], select {
    width: 70%;
    height:30px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 10px;
  }

  .addbtn{
    padding: 5px;
    width: 30%;
    height:30px;
    background-image: linear-gradient(#CBF0F2, #D2FCE2);
    border-radius: 7px;

}
.chip{
    display: flex;
    flex-direction: row;
    border-radius:25px;
    width:10em;
    height: 3em;
    /* border: 1px solid black; */
    justify-content:space-between;
    padding-left: 0;
    justify-items: center;
    text-align: center;
    align-items: center;
    gap:1em;
    background-color: white;





}
.chipContainer{
    display: flex;
    flex-flow: row wrap;
    gap:2rem;
    width :600px;
    padding: 1em;;


}
.remove{
    background-color: transparent;
    padding: 3px;
    text-align: center;
    border:none;
    width: 2em;
    margin-right: 15px;
}
.chip-img{
    border-radius: 50%;
    width: 3em;
    height: 3em;


}
